<a href="https://colab.research.google.com/github/JimKing100/airbnb-app-4/blob/master/Datascience/model/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Installs
%%capture
!pip install category_encoders==2.0.0

In [0]:
# Import libraries
import pandas as pd
import numpy as np

from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor


import category_encoders as ce
from joblib import dump

import pandas_profiling

In [0]:
# Load the raw data
data_jan = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-jan19-edited.csv')
data_feb = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-feb19-edited.csv')
data_mar = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-mar19-edited.csv')
data_apr = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-apr19-edited.csv')
data_may = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-may19-edited.csv')
data_jun = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-jun19-edited.csv')
data_jul = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-jul19-edited.csv')
data_aug = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-aug19-edited.csv')
data_sep = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-sep19-edited.csv')
data_oct = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-oct19-edited.csv')
data_n19 = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-nov19-edited.csv')
data_n18 = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-nov18-edited.csv')
data_d18 = pd.read_csv('https://raw.githubusercontent.com/JimKing100/airbnb-app-4/master/Datascience/data/listings-dec18-edited.csv')

In [0]:
df = pd.concat([data_jan, data_feb, data_mar, data_apr, data_may, data_jun, data_jul, data_aug, data_sep, data_oct, data_n19, data_n18, data_d18])

In [137]:
print(df.shape)
df.head()

(151352, 65)

     id last_scraped  ... calculated_host_listings_count  reviews_per_month
0  1078      1/15/19  ...                              3               1.65
1  2265      1/14/19  ...                              3               0.19
2  5245      1/14/19  ...                              3               0.08
3  5456      1/14/19  ...                              1               3.88
4  5769      1/15/19  ...                              1               2.23

[5 rows x 65 columns]

In [0]:
def convert_date(scrape_date, m_or_y):
    temp_date = scrape_date
    mdy = temp_date.split('/')
    month = mdy[0]
    year = mdy[2]
    if m_or_y == 'm':
      return int(month)
    else:
      return int(year)

In [139]:
df['month'] = df.apply(lambda x: convert_date(x['last_scraped'], 'm'), axis =1)
df['year'] = df.apply(lambda x: convert_date(x['last_scraped'], 'y'), axis =1)
df.head()

     id last_scraped experiences_offered  ...  reviews_per_month month year
0  1078      1/15/19                none  ...               1.65     1   19
1  2265      1/14/19                none  ...               0.19     1   19
2  5245      1/14/19                none  ...               0.08     1   19
3  5456      1/14/19                none  ...               3.88     1   19
4  5769      1/15/19                none  ...               2.23     1   19

[5 rows x 67 columns]

In [140]:
model_df = df[['month', 'year', 'neighbourhood', 'accommodates', 'bedrooms', 'bathrooms', 'beds', 'price']]
model_df.head()

   month  year      neighbourhood  ...  bathrooms  beds  price
0      1    19                NaN  ...        1.0   1.0     85
1      1    19      East Downtown  ...        2.0   2.0    225
2      1    19      East Downtown  ...        1.0   1.0    125
3      1    19      East Downtown  ...        1.0   2.0     95
4      1    19  SW Williamson Co.  ...        1.0   1.0     40

[5 rows x 8 columns]

In [141]:
model_df.describe()

               month           year  ...           beds          price
count  151352.000000  151352.000000  ...  151165.000000  151352.000000
mean        6.819758      18.845843  ...       2.498773     340.529540
std         3.515242       0.361101  ...       2.450820     895.389008
min         1.000000      18.000000  ...       0.000000       0.000000
25%         4.000000      19.000000  ...       1.000000      80.000000
50%         7.000000      19.000000  ...       2.000000     145.000000
75%        10.000000      19.000000  ...       3.000000     300.000000
max        12.000000      19.000000  ...     132.000000   24999.000000

[8 rows x 7 columns]